.idea
scrivner/output
scrivner/MarkdownSample.scriv
**/node_modules/**
**/logs/**
package-lock.json
logs/**
server/bin/sessions/**
dbjson/db\.json
temp/**
**/sessions/**
ehr/dist/**
ehr/dev/**
**/trash/**

client/tests/e2e/reports/
client/dist/**

client/selenium-debug\.log

makeEhr/generated/

makeEhr/util/camelcase-output\.txt

makeEhr/util/camelcase-input\.txt
**/coverage/**
**/\.nyc_output/**
client/test/e2e/**
prototyping/hello-world/**
