.idea
.vscode/
**/.credentials/**
**/.DS_Store
**/.sessions/**
**/\.nyc_output/**
**/coverage/**
**/dbDump/**
**/logs/**
**/node_modules/**
**/sessions/**
**/trash/**
**/.env
**/.env*
**/.env-*
**/.park/**
**/.private/**
client/dist/**
client/published/**
client/selenium-debug\.log
client/test/e2e/**
client/tests/e2e/reports/
database/backup/dump/**
database/dbdata/**
database/data/**
docs/.vuepress/dist/**
ehr/dev/**
ehr/dist/**
logs/**
makeEhr/generated/
makeEhr/util/camelcase-input\.txt
makeEhr/util/camelcase-output\.txt
server/.session/
server/bin/sessions/**
server/files-ehr
server/deleted/**
server/src/config/admin-password\.txt
temp/**
server/lib/**
server/build/**
