.idea
.vscode/
**/.credentials/**
**/.DS_Store
**/.sessions/**
**/\.nyc_output/**
**/coverage/**
**/dbDump/**
**/logs/**
**/node_modules/**
**/sessions/**
**/trash/**
*/.env
client/dist/**
client/selenium-debug\.log
client/test/e2e/**
client/tests/e2e/reports/
database/backup/dump/**
database/data/**
dbjson/db\.json
docs/.vuepress/dist/**
ehr/dev/**
ehr/dist/**
logs/**
makeEhr/generated/
makeEhr/util/camelcase-input\.txt
makeEhr/util/camelcase-output\.txt
package-lock.json
prototyping/hello-world/**
scrivner/MarkdownSample.scriv
scrivner/output
server/.session/
server/bin/sessions/**
server/files-ehr
server/src/config/admin-password\.txt
temp/**
