@import '../definitions';


.app-tag {
  background-color: $grey20;
  border-radius: 10px;
  display: inline-block;
  padding: 0 8px;
  margin: 2px;
  color: $black
  & span {
    //padding: 8px;
  }
  & button {
    color: $black;
    border-radius: 10px;
    border: none;
    //font-size: 1.5rem;
    padding: 0 10px;
    height: 2rem;
    //margin: 0 0 0 10px;
    background-color: transparent;
  }
  & button:hover {
    color: $app-tag-button-hover-colour;
    background-color: $grey10;
    //background-color: $grey10;
  }
}
