@import '../definitions';

/*
The datepicker plugin has styling that needs adjustments.
1. Need to over ride the border to display one.
2. Need to change the position from absolute to relative so the date picker will appear within a dialog. Otherwise
the date picker may be chopped and much of it might not be visible.
 */

.vdp-datepicker__calendar {
  position: relative;
}

.form-row-wrapper {
  display: flex;
}

.ehrdfe,
.form-element-wrapper {
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}

.input-fieldrow { /* used in dialog as containers, c */
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 3em; */
}

.fieldset_row_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2em;
  // @include debugColor(c)
}

.fieldset_col_wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  // @include debugColor(b)
}

.input-fieldrow-element {
  width: 100%;
}

.fieldset_row_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fieldset_row_row_element {
  flex: 1 0 50%;
}

.fieldset_label {
  display: block;
  font-weight: bold;
  font-size: 1.1rem;
}

.fieldset-col {
  padding: 0;
  //@include debugColor(b)
}

li {
  list-style-type: none;
}

.hide-table-element {
  display: none;
}

label,
input,
textarea {
  display: inline-block;
}

.checkbox_label,
.radio_label {
  display: inline;
  vertical-align: top;
  margin-left: 5px;
}

.checkbox,
.radio {
  display: inline;
  margin-right: 5px;
}

.label-checkbox {
  display: inline-block;
}

select{
  height: 35px;
}

input,
.input,
textarea {
  border: 1px solid $grey20;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(21, 26, 36, 0.5);
  padding: 5px;
}

textarea {
  height: 6rem;
  width: 100%;
}

input, textarea, select, input:disabled, textarea:disabled, select:disabled, checkbox:disabled, radio:disabled, .input:disabled, .textarea:disabled, .select:disabled, .select select:disabled {
  color: black;
  font-weight: bold;
  font-size: $bodyFontSize;
}

input:disabled, textarea:disabled, select:disabled, checkbox:disabled, radio:disabled, .input:disabled, .textarea:disabled, .select:disabled, .select select:disabled {
  background: 0;
  border: 1px solid $grey10;
  box-shadow: none;
}

.is-invalid {
  border: 1px solid red;
}

/* gets rid of double border on time inputs */
.input input {
    border: none;
}

.input-element {
  margin-right: 20px;
  //@include debugColor(c)
}

.input-element:last-child {
  margin-right: 0;
}

.input-element-full {
  width: 100%;
}

.input-element-small {
  flex: 1 0 5rem;
}

.input-element-medium {
  flex: 2 0 15rem;
}

.vdp-datepicker * {
  width: 100%
}

.text_input_wrapper, .textarea_wrapper, .select_wrapper, .date_wrapper {
  position: relative;
}

.checkbox_wrapper {
    margin-bottom: .625em;
}

input[type="checkbox"]{
  margin-right: 5px;
}

.select {
  height: 30px;
  width: 100%;
}

select {
  background: linear-gradient(180deg, rgba(203, 206, 209, 0.6) 0%, rgba(133, 139, 148, 0.6) 100%);
  box-shadow: inset 0 1px 0 0 $white, 0 1px 2px 0 rgba(21, 26, 36, 0.2);
  width: 100%;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $grey40;
}

.user_name {
  width: 35%;
}

.user_pro {
  width: 35%;
}

.user_day {
  width: 15%;
}

.user_time {
  width: 15%;
}

.full-width {
  width: 100%;
}

.is-half {
  max-width: 50%;
  flex: 1 0 50%;
}

.is-two-thirds {
  max-width: 66%;
  flex: 1 0 66%;
}

.is-one-third {
  max-width: 31%;
  flex: 1 0 31%;
}
.is-one-quarter {
  max-width: 25%;
  flex: 1 0 25%;
}

.width-10 {
  width: 10%;
  min-width: 10%;
  flex-grow: 0.1;
}

.width-20 {
  width: 20%;
  min-width: 20%;
  flex-grow: 0.2;
}

.width-30 {
  width: 30%;
  min-width: 30%;
  flex-grow: 0.3;
}

.width-40 {
  width: 40%;
  min-width: 40%;
  flex-grow: 0.4;
}

.width-50 {
  width: 50%;
  min-width: 50%;
  flex-grow: 0.5;
}

.width-60 {
  width: 60%;
  min-width: 60%;
  flex-grow: 0.6;
}

.width-70 {
  width: 70%;
  min-width: 70%;
  flex-grow: 0.7;
}

.width-80 {
  width: 80%;
  min-width: 80%;
  flex-grow: 0.8;
}

.width-90 {
  width: 90%;
  min-width: 90%;
  flex-grow: 0.9;
}

.ehr-page-form {
  margin-bottom: 8em;
}

.bold-text {
  font-weight: bolder;
  color: $black;
}

.column_table {
  .column_label {
    min-width: 15em;
    text-align: right;
  }

  .column_value {
    color: $black;
    min-width: 8rem;
    max-width: 12rem;
  }
}

.datepicker-header {
  text-align: center;
}

.z-10 {
  z-index: 10;
}

.z-20 {
  z-index: 20;
}

.z-30 {
  z-index: 30;
}

.z-990 {
  z-index: 990;
}

.z-999 {
  z-index: 999;
}

/* Very specific formatting to make forms look a little more aligned */

/* genitourinary form */
#bleeding {
    margin-bottom: 13px;
}
