@import '../definitions';

/*
The datepicker plugin has styling that needs adjustments.
1. Need to over ride the border to display one.
2. Need to change the position from absolute to relative so the date picker will appear within a dialog. Otherwise
the date picker may be chopped and much of it might not be visible.
 */

.vdp-datepicker__calendar {
  position: relative;
}

.ehrdfe {
  width: 100%;
  margin-left: 1%;
  margin-right: 1%;
}

li {
  list-style-type: none;
}

.hide-table-element {
  display: none;
}

label,
input,
textarea {
  display: inline-block;
}

.checkbox_label,
.radio_label {
  display: inline;
  vertical-align: top;
  margin-left: 5px;
}

.checkbox,
.radio {
  display: inline;
  margin-right: 5px;
}

.label-checkbox {
  display: inline-block;
}

input,
.input,
textarea {
  border: 1px solid $grey20;
  border-radius: 3px;
  box-shadow: inset 0 1px 0 0 rgba(21, 26, 36, 0.5);
  box-sizing: border-box;
  font-size: 14px;
  padding: 5px;
}

textarea {
  height: 7rem;
  width: 100%;
}

input, textarea, select, input:disabled, textarea:disabled, select:disabled, checkbox:disabled, radio:disabled, .input:disabled, .textarea:disabled, .select:disabled, .select select:disabled {
  color: $black;
  font-weight: bold;
  font-size: $bodyFontSize;
  line-height: 1.4;
}

input:disabled, textarea:disabled, select:disabled, checkbox:disabled, radio:disabled, .input:disabled, .textarea:disabled, .select:disabled, .select select:disabled {
  background: 0;
  border: 1px solid $grey10;
  box-shadow: inset 0 1px 0 0 rgba(21, 26, 36, 0);
}

.is-invalid {
  border: 1px solid red;
}

/* gets rid of double border on time inputs */
.input input {
    border: none;
}

.input-element {
  margin-right: 20px;
  //@include debugColor(c)
}

.input-element:last-child {
  margin-right: 0;
}

.input-element-full {
  width: 100%;
}

.input-element-small {
  flex: 1 0 5rem;
}

.input-element-medium {
  flex: 2 0 15rem;
}

.vdp-datepicker * {
  width: 100%
}

.text_input_wrapper, .textarea_wrapper, .select_wrapper, .date_wrapper {
  position: relative;
}

.checkbox_wrapper {
    margin-bottom: .625em;
}

input[type="checkbox"]{
  margin-right: 5px;
}

select, .select {
  background: linear-gradient(180deg, rgba(203, 206, 209, 0.2) 0%, rgba(133, 139, 148, 0.2) 100%);
  height: 2.25em;
  width: 100%;
}

.select:not(.is-multiple):not(.is-loading)::after {
  border-color: $grey40;
}

.select select:disabled::after {
  border-color: $grey10;
}

.full-width {
  width: 100%;
}

.is-half {
  max-width: 50%;
  flex: 1 0 50%;
}

.is-two-thirds {
  max-width: 66%;
  flex: 1 0 66%;
}

.ehr-page-form {
  margin-bottom: 8em;
}


.column_table {
  .column_label {
    min-width: 15em;
    text-align: right;
  }

  .column_value {
    color: $black;
    min-width: 8rem;
    max-width: 12rem;
  }
}

.datepicker-header {
  text-align: center;
}

.cardio-assessment,
.record-header,
.grid-left-to-right-1,
.grid-left-to-right-2,
.grid-left-to-right-3,
.grid-left-to-right-4,
.grid-left-to-right-5 {
  display: grid;
  grid-gap: 0.3rem 0.5rem;
  grid-auto-flow: row;
  margin-bottom: 1rem;
}

.grid-left-to-right-1 {
  grid-template-columns: 1fr;
}

.grid-left-to-right-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-left-to-right-3 {
  grid-template-columns: repeat(3, 1fr);
}

.record-header, .grid-left-to-right-4 {
  grid-template-columns: repeat(4, 1fr);
}

.cardio-assessment,
.grid-left-to-right-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-up-to-down {
  display: grid;
  grid-gap: 1rem 1.25rem;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, 1fr);
}

.grid-span-2-columns {
  grid-column: span 2;
}


/* Small screens */
@media all and (max-width: 500px) {
  .grid-left-to-right-2 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-left-to-right-3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .record-header, .grid-left-to-right-4 {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardio-assessment,
  .grid-left-to-right-5 {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-up-to-down {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid-span-2-columns {
    grid-column: span 1;
  }
}

.thumbnail {
  display: inline-block;
  vertical-align: middle;
  max-height: 100px;
  max-width: 100px;
}
