@import '../definitions';

.outside-view {
  margin: 2rem;
}

.list-card {
  border: 1.5px solid #051F54;
  border-radius: 10px;
}
.list-element {
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
}

.list-item-container {
  display: grid;
  grid-template-columns: 2fr minmax(30rem, 1fr);
}
.list-item-name {
  font-weight: bold;
  font-size: 1.5rem;
  grid-column: 1;
}

@media screen and (max-width: $main-width-threshold2){
  .list-item-container {
    grid-template-columns: 1fr;
  }
}

.dropdownWindow {
  border-radius: 5px;
  border: 1px solid $grey60;
  padding: 1rem;
  background-color: $white;
  color: $grey80;
}

.details-container {
  padding: 1rem;
}
.details-row {
  display: grid;
  grid-template-columns: 1fr 6fr;
  padding: 5px;
}
.details-name {
  text-align: right;
  margin-right: 8px;
  font-size: 18px;
  &::after{
    content: ':';
  }
}
.details-value {
  font-size: 18px;
}
.details-action-bar {
  margin-bottom: 1rem;
}
.with-title {
  grid-template-columns: 1fr 2fr 1fr;
}
