table {
  margin-bottom: 2em;
  th {
    border-bottom: 2px solid $grey40;
    font-size: 1.25em;
    padding: 0.5em 0.5em 0.5em 0;
  }
  tr {
    border-bottom: 1px solid $grey20;
    font-size: $bodyFontSize;
  }
  td {
    padding: 0.5em 1em 0.5em 0;
  }
  &.table_horizontal {
    width: 100%;
  }
  .table_vertical {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    overflow-x: auto;
    width: 100%;
  }
  .column_label {
    max-width: 10rem;
  }
}

th,
.content table thead th,
.column_label {
  color: $grey60;
  font-size: 1em;
}

.column_table {
  .column_label {
    text-align: right;
  }
}

.row_table {
    margin-bottom: 8em;
}

.content table.table_vertical {
  width: auto;
}

.hr-table, .content table td.hr-table, .content table th.hr-table {
  border-bottom: 1px solid $grey40;
}


/*

.canvas-wrapper[data-v-5baa5a88] {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    width: 100%;
    padding: 10px 0 10px 0;
    overflow-x: auto;
    border: 1px dotted black; */
