table {
  margin-bottom: 2em;
  th {
    border-bottom: 2px solid $grey40;
    padding: 0.5em 0.5em 0.5em 0;
  }
  th,
  .column_label {
    color: $grey70;
    font-size: 1em;
  }
  tr {
    border-bottom: 1px solid $grey20;
    font-size: $bodyFontSize;
  }
  td {
    padding: 0.5em 1em;
  }
  &.table_horizontal {
    width: 100%;
  }
  .table_vertical {
  }
}

.column_table {
  .column_label {
    text-align: right;
  }
}

.row_table {
    margin-bottom: 8em;
}