@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro");
@import "../definitions";

body {
	color: $grey60;
  font-family: $bodyFontFamily; 
  font-size: $bodyFontSize;
}

h1, h2, h3, h4, h5, h6 {
	color: $grey70;
	font-family: $bodyFontFamily;
	font-weight: bold;
	line-height: 1.2;
}

h1 {
	font-size: 30px;
	margin-bottom: .75em;
}

h2 {
	font-size: 24px;
	margin-bottom: .625em;
}

h3, .fieldset_label {
	font-size: 20px;
	margin-bottom: .5em
}

.icon-right {
	margin-left: 5px;
}

.icon-left {
	margin-right: 5px;
}
