h2(class="form-title") Insulin subcutaneous orders
h3(class="form-subtitle") For patients who are eating meals or are NPO

section
  h2 MONITORING:
  p Capillary blood glucose (CBG) TID before meals and at HS. If HS correction insulin administered, repeat CBG at 03:00; do NOT give any insulin at 03:00, call physician if CBG is above 18 mmol/L

hr
section
  h2 MEDICATIONS
  p Discontinue all previous insulin orders

section(class="boxed")
  h2 BASAL Insulin
  p (Longer acting): can be given even if NPO; prescriber may reduce dose by 25% if NPO or poor intake
  div
    p {checkbox:basal_nph} Insulin NPH
    p(class="indent") {input:basal_nph_tid} units subcutaneous at breakfast (08:00 if NPO)
    p(class="indent") {input:basal_nph_qhs} units subcutaneous at QHS *OR* dinner (17:00 if NPO)
    p *OR*
    p {checkbox:basal_gla} Insulin GLARGINE (BASAGLAR)
    p(class="indent") {input:basal_gla_am} units subcutaneous at breakfast (08:00 if NPO)
    p(class="indent") {input:basal_gla_qhs} units subcutaneous QHS

section(class="boxed")
  h2 Nutritional
  p (Shorter acting): HOLD IF NPO or unable to eat
  p {checkbox:nut_reg} Insulin REGULAR subcutaneous (30 min before meal) *OR* {checkbox:nut_lispo} Insulin LISPRO subcutaneous (give at mealtime)
  table(class="tbl-no-borders")
    tr
      td Breakfast:
      td {input:nut_breakfast} units.
    tr
      td Lunch:
      td {input:nut_lunch} units.
    tr
      td Dinner:
      td {input:nut_dinner} units.


section(class="boxed")
  h2 CORRECTION / SLIDING SCALE
  p (Shorter acting): can be ordered and given even if NPO or unable to eat

  p Choose same insulin type as Nutritional insulin. If not on Nutritional and nothing selected, insulin REGULAR is default.
  p {checkbox:slide_reg} Insulin REGULAR TID subcutaneous before meals and HS
  p *OR*
  p {checkbox:slide_lispo} Insulin LISPRO TID subcutaneous with meals
  p See Table 1 for TID dosing and table 2 for HS dosing

  table(class="tbl-full-width")
    thead
      tr
        th(colspan="5")
          p Table 1. TID Dosing
      tr
        th
          p CBG (mmol/L)
        th
          p {checkbox:slide_low} Low
          p Less than 40 units / day
        th
          p {checkbox:slide_medium} Medium
          p 40 to 99 units / day
        th
          p {checkbox:slide_high} High
          p 100+ units / day
        th
          p {checkbox:slide_custom} Custom
    tbody
      tr
        td Below 4
        td(colspan="4") Follow hypoglycemia protocol and call MD
      tr
        td 4 to 8
        td(colspan="4") No correction; give only nutritional insulin as ordered
      tr
        td 8.1 to 10
        td 1 unit
        td 2 unit
        td 3 units
        td {input:slide_c1} units
      tr
        td 10.1 to 12
        td 2 unit
        td 3 unit
        td 4 units
        td {input:slide_c2} units
      tr
        td 12.1 to 14
        td 3 unit
        td 4 unit
        td 6 units
        td {input:slide_c3} units
      tr
        td 14.1 to 16
        td 4 unit
        td 6 unit
        td 8 units
        td {input:slide_c4} units
      tr
        td 16.1 to 18
        td 5 unit
        td 8 unit
        td 10 units
        td {input:slide_c5} units
      tr
        td Above 18
        td 6 unit; call MD
        td 10 unit; call MD
        td 14 units; call MD
        td {input:slide_c6} units; call MD

  p **Total daily insulin requirement from all sources. See ??? for selection of low, medium or high dosing
  table(class="tbl-full-width")
    thead
      tr
        th(colspan="5")
          p Table 2  HS Dosing
    tbody
      tr
        td Below 4
        td(colspan="4") Follow hypoglycemia protocol and call MD
      tr
        td 4 to 8
        td(colspan="4") 0 units
      tr
        td 8.1 to 10
        td(colspan="4") 0 units *OR* {input:slide_hs1} units subcutaneous at HS
      tr
        td 10.1 to 12
        td(colspan="4") 0 units *OR* {input:slide_hs2} units subcutaneous at HS
      tr
        td 12.1 to 14
        td(colspan="4") 0 units *OR* {input:slide_hs3} units subcutaneous at HS
      tr
        td 14.1 to 16
        td(colspan="4") 2 units *OR* {input:slide_hs4} units subcutaneous at HS
      tr
        td 16.1 to 18
        td(colspan="4") 3 units *OR* {input:slide_hs5} units subcutaneous at HS
      tr
        td Above 18
        td(colspan="4") call MD

section
  h2 Guidelines for the Use of Basal, Nutritional and Correction Insulin
  h3 For patients who are eating meals or are NPO

  article
    h3 GOAL OF THERAPY
    ul
      li The goal of therapy is to use as little correction insulin as possible and to provide most of the insulin as regularly scheduled basal and nutritional insulin to maintain fasting CBG between 5 mmol/L and 8 mmol/L

  article
    h3 Basal insulin
    p (longer acting insulin that targets hyperglycemia caused by liver glucose production when not eating)
    ul
      li Formulary Basal insulins: glargine (BASAGLAR, LANTUS) and NPH
      li Patients previously on insulin should receive scheduled basal insulin at all times regardless of nutritional status
      li Patients with type 1 diabetes should have basal insulin ordered at all times to avoid developing ketosis
      li Patients with Type 2 diabetes not previously on insulin can also be started on basal insulin if they have either:
      ul
        li poorly controlled glucose on admission (i.e. A1C above 8.5%) OR
        li two or more high doses of oral agents which are being held while in hospital
      li For patients using insulin NPH prior to admission: order insulin NPH BID (the second NPH dose may be given at bedtime instead of dinner to avoid nocturnal hypoglycemia)
      li Well controlled Type 2 diabetes eating meals: consider 20% dose reduction if glucose is well controlled and dietary intake reduced.

  article
    h3 Nutritional insulin
    p (shorter acting insulin that targets hyperglycemia caused by meals)
    ul
      li Formulary Nutritional insulins: regular and lispro (humaLOG)
      li Regular insulin should be administered 30 minutes before a meal and lispro insulin should be administered at mealtime

  article
    h3 Correction Scale – selection of low, medium or high insulin dose
    ul
      li Formulary Correction insulins: regular and lispro (humaLOG)
      li If blood glucose is above 8 mmol/L, correction insulin is given in addition to the scheduled nutritional insulin dose.
      li Add up all insulin over 24 hours from all components of pre-admission regimen and choose the appropriate dose scale according to the 24-hour insulin use. Consider starting at low dose for patients at high risk of hypoglycemia such as patients with type 1 diabetes, renal dysfunction, hypoglycemia unawareness, insulin naïve patients and the elderly.

  article
    h3 Insulin Conversion Chart for Non-Formulary Insulins:
    table
      thead
        tr
          th Pre-Admission Insulin
          th Conversion (Original &rarr; Formulary)
          th Formulary Insulin
      tbody
        tr
          td detemir (LEVEMIR)
            span(class="text-right") 20 units daily
          td detemir &rarr; NPH OR glargine = 1: 1
            div (1 unit detemir = 1 unit NPH = 1 unit glargine)
          td NPH 10 units BID OR glargine 20 units daily
        tr
          td aspart (NOVORAPID)
            span(class="text-right") 5 units TID
          td aspart &rarr; lispro OR regular = 1:1
          td regular 5 units TID OR lispro 5 units TID
        tr
          td glulisine (APIDRA)
            span(class="text-right") 5 units TID
          td glulisine &rarr; lispro OR regular = 1:1
          td regular 5 units TID OR lispro 5 units TID
        tr
          td humaLOG MIX 25
            span(class="text-right") 20 units BID
            div (lispro 25%/lispro protamine 75%)
          td humaLOG MIX 25 &rarr; lispro 25% AND NPH 75%
          td lispro 5 units BID AND
            div NPH 15 units BID (breakfast and dinner)
        tr
          td NOVOMIX 30
            span(class="text-right") 20 units BID
            div (aspart 30%/aspart protamine 70%)
          td NOVOMIX 30 &rarr; lispro 30% AND NPH 70%
          td lispro 6 units BID AND
            div NPH 14 units BID (breakfast and dinner)
        tr
          td NOVOLIN GE 50/50
            span(class="text-right") 20 units BID
            div (regular 50%/NPH 50%)
          td NOVOLIN GE 50/50 &rarr; regular 50% AND NPH 50%
          td regular 10 units BID AND
            div NPH 10 units BID (breakfast and dinner)

  article
    h3 Daily review of blood glucose results
    ul
      li Basal insulin: assess basal insulin daily and adjust as needed every 1 to 3 days by targeting the morning (pre-breakfast) glucose.
      li Nutritional insulin: assess nutritional insulin doses daily and adjust as needed every 1 to 3 days by targeting glucose level at next CBG.
      li Correction insulin: If correction insulin is being administered frequently, the basal and nutritional insulin doses should be reassessed.

  article
    h3 Ensure appropriate discharge insulin and diabetic medications
    ul
      li If an insulin naïve patient requires more than 10 units of insulin daily in hospital, they may require insulin after discharge.
      li If the fasting glucose is elevated, consider starting with insulin NPH 10 units HS and ensure early follow-up with the family doctor.
