/* ****************** COLOUR ****************** */
// matches color in new icon
$brand-color: #273890;
$brand-highlight: #1CA7E1;
$brand-highlight-light: #AED1FF;
$brand-highlight-red: #EC1C24;
$brand-primary: $brand-color;
$brand-primary-dark: #051F54;
$brand-primary-light: #e8f2fd;
/* use opaque color because the style may be applied both to a table cell and to the content */
$table-draft-colour: rgba(255, 210, 0, 1);
$nav-draft-colour: rgba(255, 22, 0, 1);

$table-cell-border-colour: rgba(39,56,144,0.25);
$table-header-row-colour: rgba(28,167,225, 0.05);

$app-tag-colour: #8DD3F0;
$app-tag-button-colour: $brand-primary-dark;
$app-tag-button-hover-colour: $brand-highlight-red;

$brand-primary-hover: $brand-highlight-light;

$button-border-radius: 3px;

$ehr-brand-option1: #4d74ff;
$ehr-brand-option1: rgb(77,116,255);
$ehr-brand-option2: #1CA7E1;
$ehr-hover-brand-option1: #859FFF;
$ehr-hover-brand-option2: #49B9E9;

$colour-brand-ehr:  $ehr-brand-option1;
$colour-brand-ehr-hover: $ehr-hover-brand-option1;

$colour-brand-lis: #1C9B75; // #23BE8F; //#249141;
$colour-brand-lis-hover: #23BE8F;

$white: #FFF;
$grey03: hsl(0, 0%, 97%);
$grey05: hsl(0, 0%, 95%);
$grey10: hsl(0, 0%, 90%);
$grey15: hsl(0, 0%, 85%);
$grey20: hsl(0, 0%, 80%);
$grey22: hsl(0, 0%, 78%);
$grey25: hsl(0, 0%, 75%);
$grey30: hsl(0, 0%, 70%);
$grey40: hsl(0, 0%, 60%);
$grey50: hsl(0, 0%, 50%);
$grey60: hsl(0, 0%, 40%);
$grey70: hsl(0, 0%, 30%);
$grey80: hsl(0, 0%, 20%);
$grey90: hsl(0, 0%, 10%);
$black: black;
$greyWarn: $grey10;
$red: $brand-highlight-red;
$green-light: #7ED321;
$green: #8dd03e;
$blue: $brand-highlight;

$table-row-even: rgb(235,235,235);
$table-row-odd: rgb(250,250,250);
$table-header-colour: $grey20;
$table-border-colour: $grey40;

/* ****************** TYPOGRAPHY ****************** */
$bodyFontFamily: 'Source Sans Pro', sans-serif;
$bodyFontSize: 16px;

/* ****************** NAVIGATION ****************** */

$toolbar-background-color: $brand-primary-dark;
$toolbar-color: $grey10;

$nav-background-medium: $black;
$nav-active: #AED1FF; // $brand-highlight;
$nav-level1: $grey80;
$nav-level2: $grey70;
$nav-level3: $grey60;
$nav-color-level1: $white;
$nav-color-level2: $white;
$nav-color-level3: $white;

/* ****************** MESSAGING ****************** */
$info: $blue;
$success: $green;
$error: $red;
$system-message-text: $white;
$context-banner-background-color: $brand-primary-light;
$context-banner-color: $grey80;
$dialog-header-background: $white;
$dialog-header-content-color: $grey70;
$dialog-wrapper-background-color: $white;
$dialog-wrapper-color: $grey40;

$border-width: 5px;
$border1: blue;
$border2: red;
$border3: #1CA7E1;
$border4: green;
$border5: purple;
$border6: mediumvioletred;
$border7: springgreen;

$o-colours: (
  a: blue,
  b: red,
  c: darkorange,
  d: green
);

@mixin debugColor($index: a) {
  border: 1px solid map-get($o-colours, $index);
}

/* ****************** DIMENSIONS ****************** */

$dialog-width-threshold: 700px;
$main-width-threshold1: 500px;
$main-width-threshold2: 650px;
$main-width-threshold3: 900px;
$main-width-threshold4: 1000px;

$buttonRowLeftMargin: 5px;

/*

 */
$ehr-layout-padding-left: 10px;
$ehr-layout-padding-left_level2: 20px;
$ehr-layout-padding-left_level3: 30px;

/* ****************** WRAPPER ****************** */

$o-wrapper-sizes: (
  page:   1400px,
  content:  1024px,
  wide:   682px,
  narrow: 342px,
);

@mixin wrapper($size: page) {
  //margin-right: auto;
  //margin-left: auto;
  padding-right: 0;
  padding-left: 0;
  max-width: map-get($o-wrapper-sizes, $size);
}

.mr5 {
  margin-right: 5px
}
